#h_1{
	font-size: 30px;
	color: white
}
#h_2{
	color: red
}
#form{
	border:1px solid;
	/*margin: 150px;*/
	margin-top: 70px;
	margin-left: 400px;
	color: white;
	width: 500px;
	/*background-color: grey*/
	/*padding: 50px 50px;*/
	/*padding-left: 100px;*/
}
td{
	padding: 5px 20px;
	font-size: 20px;
}
#h{
	background-color: blue;
	padding:30px 30px;
	width: 200px;
	border: 1px solid red;
	border-radius: 20px;

}
input:focus{
	background-color: yellow;

}
